button {
    all: unset;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0.5rem 1rem;
}

button:hover {
    outline: gray 5px auto;
}

.modal {
    border: 1px solid lighgray;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    animation: slide-out 0.3s forwards;
}

.modal.show {
    animation: slide-in 0.3s forwards;
}

.wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade-out 0.3s forwards;
}

.wrapper.show {
    animation: fade-in 0.3s forwards;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}


@keyframes slide-in {
    from {
        top: 0%;
        opacity: 0;

    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0%;
        opacity: 0;
    }
}
